body {
	/*min-width: 800px;
	min-height: 700px;*/
	/* letter-spacing: 1px; */
    color: #111 !important;
    text-shadow: 0px 0px 20px #FFF !important;
    background-color: hsl(214, 32%, 22%);

	font-family: Raleway !important;
}

@font-face {
    font-family: camp;
    src: url(../fonts/AmaticSC.woff);
}

canvas.background {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -3;
	left: 0px;
	top: 0px;
	background: linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,.4));
}

.description {
    margin: 5% 0%;
    text-align: center;
}
.description h1 {
    color: #111;
}
.description p {
    color: #111;
    font-size: 1.3rem;
    line-height: 1.5;
}
#pete-img {
	border: 8px white solid;
    border-radius: 1rem;
    filter: drop-shadow(20px 20px 30px #FFF);
}
.peter-section {
    display: none;
    overflow: hidden !important;
}
.peter-section .row:last-child {
    margin-bottom: 20em;
}

.peter-section img {
    background: #fff;
    width: 100%;
}

.peter-section a {
    text-decoration: underline !important;
    cursor: pointer;
    color: #111 !important;
}
.conference {
	font-weight: 500;
	font-size: 1.2rem;
}
.authors {
	font-size: 1.3rem;
    font-weight: 300;
}
.links {
	margin-top:1rem;
}
.links a {
	margin-right: 0.25rem;
}

#projects .row, #publications .row, #experience .row, #education .row, #personal .row{
    margin-bottom: 1em;
	background-color: #ffffffe8;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
	padding:1rem;
}

.icon {
	height:1.5rem !important;
	width:auto !important;
	background: None !important;
}

.card {
	padding: 1rem;
}

.linkButton {
	background-color: #0000;
	display: inline-block;
    padding: 0.5em;
	border: solid 1px #fff;
	color: #111;
	cursor: pointer;
    margin-right: 1em;
}
.linkButton:hover {
	transition: all 800ms ease-in-out;
	background-color: rgba(255,255,255,.85);
}
@media (max-width: 900px) {
    .linkButton  {
        width: 9em;
        margin-bottom: 0.5em;
    }
}

.clicked {
	background-color: rgba(255,255,255,.85);
}

.nonButtonLink {
	color: white;
}

.acknowledgement {
	position: fixed;
	bottom: 2%;
	right: 2%;
	width: 200px;
	font-size: 12px;
	display: none;
	text-transform: none;
}
#cornerPlus {
	color:white;
	font-size:25px;
	position:fixed;
	bottom: 0%;
	right: 0%;
	padding: 40px 40px;
	cursor: pointer;
}

.pdfPopout {
    position: fixed;
    width: 80%;
    top: 10%;
    left: 10%;
    height: 80%;
    border: grey solid 4px;
    border-radius: 5px;
    opacity: 0;
}

.exitPdf {
	position: fixed;
	right: 5%;
	top: 15%;
	opacity: 0;
	cursor: pointer;
}
.exitPdf img {
	width: 30px;
}

.exitPdf img:hover {
	opacity: 1;
	transition: all 500ms ease;
	transform:scale(1.3);
}

#news li {
	margin: 10px 0;
}
#news .news-date {
	color:#000000AA
}